@model HomeProductsAndCategoryViewModel
@{
    ViewData["Title"] = "Home Page";
}


<br />

<br />  
<div class="row">
    
   
        <div class="col-md-3">
            <center><h3>Категории </h3></center>
            <br /> 
            <div class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <a asp-area="Shop" asp-controller="Products" asp-action="List" asp-route-categoryId="@category.Id" class="list-group-item"><strong>@category.Name</strong></a>

                }
            </div>
        </div>
    <div class="col-lg-9">
        <center><h3>Последно добавени продукти</h3></center>
        <br /> 
        <div class="row">

            @foreach (var product in Model.Products)
            {


                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="~/uploads/@product.Image" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-area="Shop" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Title</a>
                            </h4>
                            <h5>@product.Price лв.</h5>
                            <p class="card-text">@product.Description.Substring(0,20)</p>
                        </div>

                        <div class="card-footer">

                            <a class="text-success" asp-area="Shop" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id">Добави в количката</a>

                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>
<!-- /.row -->
    
