@model ProductsListingViewModel
@{
    ViewData["Title"] = "Продукти";
}
<br/>
<center>
    @if (@ViewBag.category != null)
    {
        <h2>Продукти от категория <strong>@ViewBag.category</strong>
        </h2>
    }
    else
    {
        <h2>Продукти</h2>
    }
    <br/>
    <div class="col-lg-6">
      
        <form action="" method="get">


            <div class="input-group">
                <input type="text" name="search" class="form-control" value="@ViewBag.query">
                <span class="input-group-btn">
                <input type="submit" class="btn btn-secondary" value="Търси">
                </span>
            </div>
           
        </form> 
        
    </div>
    <br/>
    @if (User.IsInRole("Administrator"))
                     { 
    
                         <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="text-success">Добави продукт</a>
    
                     }
</center>
<br/>

<div class="row">
            
    @foreach (var product in Model.Products)
    {
                

        <div class="col-lg-3 col-md-5 mb-3">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/uploads/@product.Image" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-area="Shop" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Title</a>
                    </h4>
                    <h5>@product.Price лв.</h5>
                    <p class="card-text">@product.Description</p>
                </div>

                <div class="card-footer">

                    <a class="text-success" asp-area="Shop" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id">Добави в количката</a>

                </div>
            </div>
        </div>
    }
    

</div>